<ng-container *ngIf="user$ | async as user">
  <form [formGroup]="form">
    <div class="actions">
      <button mat-dialog-close mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
      <p class="actions__title">Editing Profile</p>
      <button
        (click)="save(user)"
        [mat-dialog-close]="true"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
      >
        Save
      </button>
    </div>
    <div>
      <input
        #imageInput
        (change)="openAvatarEditor($event)"
        type="file"
        class="avatar-input"
        accept=".png, .jpg, .jpeg"
      />
      <div
        (click)="imageInput.click()"
        class="avatar"
        [style.background-image]="'url(' + user.avatarURL + ')'"
      >
        <mat-icon fontSet="material-icons-outlined">camera_alt</mat-icon>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #name autocomplete="off" formControlName="name" matInput />
      <mat-hint align="end"
        >{{ name.value.length }}/{{ MAX_NAME_LENGTH }}</mat-hint
      >
      <mat-error *ngIf="nameControl.hasError('maxlength')">
        {{ MAX_NAME_LENGTH }}-{{ name.value.length }}</mat-error
      >
      <mat-error *ngIf="nameControl.hasError('required')">
        Name is Required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        autocomplete="off"
        formControlName="description"
        #description
        matInput
      ></textarea>
      <mat-hint align="end"
        >{{ description.value.length }}/{{ MAX_DESCRIPTION_LENGTH }}</mat-hint
      >
      <mat-error *ngIf="descriptionControl.hasError('maxlength')">
        {{ MAX_DESCRIPTION_LENGTH }}-{{ description.value.length }}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>WebPage</mat-label>
      <input autocomplete="off" formControlName="weblink" #weblink matInput />
      <mat-hint align="end"
        >{{ weblink.value.length }}/{{ MAX_URL_LENGTH }}</mat-hint
      >
      <mat-error *ngIf="weblinkControl.hasError('maxlength')">
        {{ MAX_URL_LENGTH }}-{{ weblink.value.length }}</mat-error
      >
      <mat-error *ngIf="weblinkControl.hasError('pattern')">
        URL is invalid</mat-error
      >
    </mat-form-field>
  </form>
</ng-container>
