.thing {
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  max-width: 700px;
  &__header {
    display: flex;
    align-items: center;
    padding: 8px;
  }
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(black, 0.6);
    font-size: 14px;
  }
  &__updateAt {
    flex-shrink: 0;
    color: rgba(black, 0.6);
    font-size: 13px;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: center/cover;
    margin-right: 8px;
    flex-shrink: 0;
  }
  &__spacer {
    flex: 1;
  }
  &__swiper-wrapper {
    height: 400px;
  }
  &__stl-viewer {
    height: 100%;
  }
  &__thumbnail {
    background: center/cover;
  }
  &__actions {
    display: flex;
    align-items: center;
    padding: 8px;
  }
  &__like-btn {
    &--liked {
      color: #eb154c;
    }
  }
}
.loading {
  margin: 40px auto;
}
