<div class="container">
  <ng-container *ngIf="thing$ | async as thing; else loading">
    <div class="thing">
      <div class="thing__header">
        <button
          mat-icon-button
          class="thing__avatar"
          [style.background-image]="'url(' + thing.user.avatarURL + ')'"
          routerLink="/mypage/{{ thing.designerId }}"
        ></button>
        <p class="thing__title">{{ thing.title }}</p>
        <span class="thing__spacer"></span>
        <p class="thing__updateAt">
          {{ thing.createdAt.toDate() | date: 'yyyy年MM月dd日' }}
        </p>
        <ng-container *ngIf="user$ | async as user">
          <button
            *ngIf="user.uid === thing.designerId"
            [mat-menu-trigger-for]="menu"
            mat-icon-button
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </ng-container>
        <mat-menu #menu>
          <button routerLink="/{{ thing.id }}/edit" mat-menu-item>
            <mat-icon>edit</mat-icon> <span>編集</span>
          </button>
          <button (click)="delete(thing)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>削除</span>
          </button>
        </mat-menu>
      </div>

      <div class="thing__swiper-wrapper">
        <swiper [config]="config" [(index)]="index">
          <div
            class="thing__thumbnail"
            *ngFor="let url of thing.imageUrls"
            [style.background-image]="'url(' + url + ')'"
          ></div>
          <div class="thing__stl-viewer">
            <app-stl-viewer
              *ngIf="thingRef$ | async as ref"
              [stlUrl]="ref.downloadUrl"
            ></app-stl-viewer>
          </div>
        </swiper>
      </div>
      <div class="pager"></div>
      <div class="thing__actions">
        <button
          *ngIf="isLiked; else unLiked"
          (click)="unLikeThing(thing)"
          class="thing__like-btn"
          [class.thing__like-btn--liked]="isLiked"
          mat-icon-button
        >
          <mat-icon>favorite</mat-icon>
          <span>{{ thing.likeCount }}</span>
        </button>
        <ng-template #unLiked>
          <button (click)="likeThing(thing)" mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
            <span>{{ thing.likeCount }}</span>
          </button>
        </ng-template>
        <button mat-icon-button>
          <mat-icon fontSet="material-icons-outlined"> mode_comment</mat-icon
          ><span>{{ thing.commentCount }}</span>
        </button>
        <span class="thing__spacer"></span>
        <mat-chip-list>
          <mat-chip
            (click)="navigateByTag(tag)"
            *ngFor="let tag of thing.tags"
            >{{ tag }}</mat-chip
          >
        </mat-chip-list>
      </div>
    </div>

    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ link.label }}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #loading>
    <ng-container *ngIf="isLoading; else notFound">
      <mat-progress-spinner
        class="loading"
        mode="indeterminate"
        color="primary"
        [diameter]="40"
      ></mat-progress-spinner>
    </ng-container>
    <ng-template #notFound>
      <app-not-found></app-not-found>
    </ng-template>
  </ng-template>
</div>
