.details {
  display: grid;
  grid-row: 1fr 500px 1fr;
  &__actions {
    text-align: right;
  }
}
.file-grid {
  display: grid;
  grid-template-columns: 1fr 240px;
  gap: 12px;
}
.file {
  box-sizing: border-box;
  border: 1px dashed rgba(black, 0.6);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 24px 0;
  &__input {
    display: none;
  }
  &__icon {
    color: rgba(black, 0.6);
    &--stl {
      margin-bottom: 24px;
      font-size: 56px;
    }
    &--image {
      margin-bottom: 16px;
      font-size: 64px;
    }
  }
  &__stl-preview {
    height: 168px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    max-width: 240px;
    text-align: right;
  }
  &__stl-close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
  }
  &__stl-del-icon {
    color: white;
  }
}

.upload-grid {
  display: flex;
  margin: 16px 0;
}

.upload {
  background: center/cover;
  text-align: right;
  width: 160px;
  height: 124px;
  &:first-of-type {
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgba(black, 0.6);
  }
  &__del-icon {
    font-size: 20px;
  }
  & + & {
    margin-left: 8px;
  }
}

.hint {
  & + & {
    margin-left: 8px;
  }
}

h1 {
  font-size: 16px;
  color: rgba(black, 0.38);
}
p {
  margin: 0;
  font-size: 16px;
  color: rgba(black, 0.6);
}
