<div class="container">
  <h1 *ngIf="form.value.title">「{{ form.value.title }}」を編集</h1>
  <label class="file">
    <input
      class="file__input"
      (change)="selectFiles($event)"
      #file_input
      type="file"
      multiple
      accept=".jpeg, .jpg, .png, .stl "
    />
    <mat-icon class="file__icon" inline>backup</mat-icon>
    <button
      type="button"
      class="file__up-btn"
      [disabled]="images.length >= MAX_IMAGE_FILE_LENGTH"
      (click)="file_input.click()"
      mat-flat-button
      autocomplete="off"
      color="primary"
    >
      ファイルを選択する
    </button>
  </label>

  <p *ngIf="images.length">Image</p>
  <div class="grid">
    <div
      class="upload upload--image"
      *ngFor="let file of images; index as i"
      [style.background-image]="'url(' + file + ')'"
    >
      <button (click)="deleteImage(i)" class="upload__del-btn">
        <mat-icon class="upload__del-icon" inline> delete</mat-icon>
      </button>
    </div>
  </div>

  <!-- <app-stl-viewer></app-stl-viewer> -->
  <p>詳細</p>
  <form [formGroup]="form" class="details" (ngSubmit)="save()">
    <mat-form-field appearance="outline">
      <mat-label>タイトル</mat-label>
      <input matInput autocomplete="off" #input formControlName="title" />
      <mat-hint align="end"
        >{{ input.value.length }}/{{ MAX_TITLE_LENGTH }}</mat-hint
      >
      <mat-error *ngIf="titleControl.hasError('maxlength')"
        >{{ input.value.length }}は長過ぎます</mat-error
      >
      <mat-error *ngIf="titleControl.hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>説明</mat-label>
      <textarea
        matInput
        formControlName="description"
        #textarea
        autocomplete="off"
        matTextareaAutosize
      >
      </textarea>
      <mat-hint align="end"
        >{{ textarea.value.length }}/{{ MAX_DESCRIPTION_LENGTH }}</mat-hint
      >
      <mat-error *ngIf="descriptionControl.hasError('maxlength')"
        >{{ textarea.value.length }}長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>タグ</mat-label>
      <mat-chip-list #chipList aria-label="tag selection">
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="New tag..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          autocomplete="off"
          formControlName="tags"
        />
      </mat-chip-list>
    </mat-form-field>
    <div class="details__actions">
      <button type="button" (click)="cancel()" mat-button>
        キャンセル
      </button>
      <button [disabled]="form.invalid" mat-flat-button color="primary">
        保存
      </button>
    </div>
  </form>
</div>
