.post {
  display: block;
  padding: 0;
  :hover {
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  &__thumbnail {
    margin: 0;
    background: center/cover;
    padding-bottom: 75%;
  }
  &__body {
    box-sizing: border-box;
    padding: 8px;
  }
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    color: rgba(black, 0.6);
    font-size: 14px;
    font-weight: 500;
  }
  &__sub-body {
    display: flex;
    font-size: 13px;
    color: rgba(black, 0.6);
    margin-bottom: 8px;
    align-items: center;
    p + p {
      margin: 0 8px;
    }
  }
  &__likeCount {
    margin-right: 8px;
    span {
      font-size: 10px;
    }
  }
  &__description {
    font-size: 14px;
    color: rgba(black, 0.6);
    overflow: hidden;
  }
}
