<mat-card routerLink="/{{ post.id }}" class="post">
  <figure
    class="post__thumbnail"
    [style.background-image]="'url(' + post.imageUrls[0] + ')'"
  ></figure>
  <div class="post__body">
    <p class="post__title">{{ post.title }}</p>
    <div class="post__sub-body">
      <p class="post__likeCount">
        {{ post.likeCount }}
        <span>Likes</span>
      </p>
      <p class="post__updateAt">
        {{ post.updateAt.toDate() | date: 'MMM dd yyyy' }}
      </p>
    </div>
  </div>
</mat-card>
