<ng-container *ngIf="thing$ | async as thing">
  <div class="grid">
    <mat-card>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea
            matInput
            [formControl]="commentForm"
            #textarea
            matTextareaAutosize
            required
            autocomplete="off"
            [disabled]="isProcessing"
          ></textarea>
          <button
            (click)="addComment(thing)"
            matSuffix
            [disabled]="commentForm.invalid || isProcessing"
            mat-icon-button
          >
            <mat-icon>send</mat-icon>
          </button>
          <mat-hint align="end"
            >{{ textarea.value.length }}/{{ MAX_COMMENT_LENGTH }}
          </mat-hint>
          <mat-error *ngIf="commentForm.hasError('maxlength')"
            >Your input is {{ textarea.value.length }} length. Too may
            letters.</mat-error
          >
        </mat-form-field>
      </form>
      <mat-progress-spinner
        class="loading"
        *ngIf="isProcessing"
        mode="indeterminate"
        color="primary"
        [diameter]="40"
      ></mat-progress-spinner>
      <app-comon-comment
        *ngFor="let comment of comments$ | async"
        [comment]="comment"
        [rootCommentId]="comment.id"
        [thing]="thing"
        [isRootComment]="true"
      ></app-comon-comment>
    </mat-card>
  </div>
</ng-container>
