<mat-toolbar>
  <button mat-button routerLink="/" class="logo">LOGO</button>
  <span class="spacer"></span>
  <div class="search">
    <input
      class="search__input"
      type="search"
      autocomplete="off"
      placeholder="Seach Lure Advance"
    />
    <mat-icon class="search__icon">search</mat-icon>
  </div>
  <button routerLink="/create" mat-icon-button class="">
    <mat-icon>add</mat-icon>
  </button>
  <button
    *ngIf="user$ | async as user; else veiw"
    (click)="activity.emit(); clearNotificationCount(user.uid)"
    mat-icon-button
  >
    <mat-icon matBadge="{{ user.notificationCount || null }}"
      >notifications</mat-icon
    >
  </button>
  <ng-template #veiw>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
  </ng-template>
  <button
    *ngIf="user$ | async as user; else loginbtn"
    class="avator"
    [style.background-image]="'url(' + user.avatarURL + ')'"
    [matMenuTriggerFor]="menu"
    mat-icon-button
  ></button>
  <mat-menu #menu>
    <button
      routerLinkActive="router-link-active"
      mat-menu-item
      routerLink="/mypage/{{ uid }}"
    >
      <mat-icon>account_box</mat-icon>
      <span>マイページ</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>input</mat-icon>
      <span>ログアウト</span>
    </button>
  </mat-menu>

  <ng-template #loginbtn>
    <button
      [disabled]="isProccesing"
      (click)="login()"
      class="login"
      mat-raised-button
      color="primary"
    >
      {{ isProccesing ? 'ログイン中' : 'ログイン' }}
    </button>
  </ng-template>
</mat-toolbar>
