<mat-toolbar class="header">
  <button mat-button routerLink="/" class="logo">LOGO</button>
  <form class="search" (ngSubmit)="routeSearch(ctrl.value)">
    <input
      [formControl]="ctrl"
      class="search__input"
      type="search"
      autocomplete="off"
      placeholder="Seach Lure Advance"
      [matAutocomplete]="auto"
    />
    <mat-icon class="search__icon">search</mat-icon>
  </form>
  <mat-autocomplete
    #auto
    (optionActivated)="setSearchQuery($event.option?.value)"
    (optionSelected)="routeSearch($event.option?.value)"
  >
    <mat-option *ngFor="let option of searchOptions" [value]="option.title">
      {{ option.title }}
    </mat-option>
  </mat-autocomplete>
  <ng-container *ngIf="user$ | async as user; else loginbtn">
    <button routerLink="/create" mat-icon-button class="">
      <mat-icon>add</mat-icon>
    </button>
    <button
      (click)="activity.emit(); clearNotificationCount(user.uid)"
      mat-icon-button
    >
      <mat-icon matBadge="{{ user.notificationCount || null }}"
        >notifications</mat-icon
      >
    </button>
    <ng-template #veiw>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
    </ng-template>
    <button
      class="avatar"
      [style.background-image]="'url(' + user.avatarURL + ')'"
      [matMenuTriggerFor]="menu"
      mat-icon-button
    ></button>
    <mat-menu #menu>
      <button
        routerLinkActive="router-link-active"
        mat-menu-item
        routerLink="/mypage/{{ user.uid }}"
      >
        <mat-icon>account_box</mat-icon>
        <span>マイページ</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>input</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #loginbtn>
    <button
      [disabled]="isProccesing"
      (click)="login()"
      class="login"
      mat-raised-button
      color="primary"
    >
      {{ isProccesing ? 'ログイン中' : 'ログイン' }}
    </button>
  </ng-template>
</mat-toolbar>
