:host {
  display: block;
  padding: 48px 0;
}
.thing {
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  &__header {
    display: flex;
    align-items: center;
    padding: 8px;
  }
  &__title {
    color: rgba(black, 0.6);
    font-size: 14px;
  }
  &__updateAt {
    color: rgba(black, 0.6);
    font-size: 13px;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: center/cover;
    margin-right: 8px;
    flex-shrink: 0;
  }
  &__spacer {
    flex: 1;
  }
  &__swiper-wrapper {
    height: 400px;
  }
  &__thumbnail {
    background: center/cover;
  }
  &__actions {
    display: flex;
    align-items: center;
    padding: 12px;
  }
}
