<div class="container">
  <div class="thing" *ngIf="thing$ | async as thing">
    <div class="thing__header">
      <div
        class="thing__avatar"
        [style.background-image]="'url(' + thing.user.avatarURL + ')'"
        routerLink="/mypage/{{ thing.designerId }}"
      ></div>
      <p class="thing__title">{{ thing.title }}</p>
      <span class="thing__spacer"></span>
      <p class="thing__updateAt">
        {{ thing.updateAt.toDate() | date: 'yyyy年MM月dd日' }}
      </p>
      <button
        [mat-menu-trigger-for]="menu"
        *ngIf="thing.designerId === uid"
        mat-icon-button
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu>
        <button routerLink="/{{ thing.id }}/edit" mat-menu-item>
          <mat-icon> edit</mat-icon> <span>編集</span>
        </button>
        <button (click)="delete(thing)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>削除</span>
        </button>
      </mat-menu>
    </div>
    <div class="thing__swiper-wrapper">
      <swiper [config]="config" [(index)]="index">
        <div
          class="thing__thumbnail"
          *ngFor="let url of thing.imageUrls"
          [style.background-image]="'url(' + url + ')'"
        ></div>
        <ng-container *ngFor="let stl of thing.stlUrls">
          <stl-model-viewer
            style="overflow: hidden;"
            [stlModels]="[stl]"
          ></stl-model-viewer>
        </ng-container>
      </swiper>
    </div>
    <div class="thing__actions">
      <button
        *ngIf="isLiked; else unLiked"
        (click)="unLikeThing(thing)"
        mat-icon-button
      >
        <mat-icon>favorite</mat-icon>
        <span>{{ thing.likeCount }}</span>
      </button>
      <ng-template #unLiked>
        <button (click)="likeThing(thing)" mat-icon-button>
          <mat-icon>favorite_border</mat-icon>
          <span>{{ thing.likeCount }}</span>
        </button>
      </ng-template>
      <button mat-icon-button><mat-icon>mode_comment</mat-icon></button>
    </div>
  </div>

  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
