<div class="grid">
  <mat-card>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>コメント</mat-label>
        <textarea
          matInput
          [formControl]="commentForm"
          #textarea
          matTextareaAutosize
          required
          autocomplete="off"
        ></textarea>
        <button
          (click)="addComment()"
          matSuffix
          [disabled]="commentForm.invalid"
          mat-icon-button
        >
          <mat-icon>send</mat-icon>
        </button>
        <mat-error *ngIf="commentForm.hasError('maxlength')"
          >文字が多過ぎます</mat-error
        >
        <mat-hint align="end">{{ textarea.value.length }}/400</mat-hint>
      </mat-form-field>
    </form>
    <app-comon-comment
      *ngFor="let comment of comments$ | async"
      [comment]="comment"
      [rootCommentId]="comment.id"
      [thingId]="id"
    ></app-comon-comment>
  </mat-card>
</div>
