mat-form-field {
  width: 100%;
}

.comment {
  display: grid;
  gap: 16px;
  &--root {
    grid-template-columns: 40px 1fr 40px;
  }
  &--reply {
    grid-template-columns: 24px 1fr 40px;
  }
  &__avatar {
    border-radius: 50%;
    background: center/cover;
    &--root {
      width: 40px;
      height: 40px;
    }
    &--reply {
      width: 24px;
      height: 24px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    margin: 0 0 8px;
    font-size: 13px;
  }
  &__body {
    margin: 0;
    white-space: pre-line;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &--root {
      font-size: 14px;
    }
    &--reply {
      font-size: 13px;
    }
  }
  &__actions {
    text-align: left;
  }
  &__name {
    line-height: 1;
    font-weight: 500;
    margin: 0 8px 0 0;
  }
  &__updateAt {
    line-height: 1;
    color: rgba(black, 0.6);
    margin: 0;
  }
  &__edit-btn {
    display: none;
  }
  &:hover &__edit-btn {
    display: block;
  }
  &__edit-actions {
    text-align: right;
  }
}
.replies {
  margin-left: 56px;
}
