<section class="latest-posts">
  <div class="grid grid--latest">
    <ng-container *ngIf="latestPosts$ | async as posts">
      <ng-container *ngIf="posts.length; else notFound">
        <app-thing-card-wide
          *ngFor="let post of posts"
          [post]="post"
        ></app-thing-card-wide>
      </ng-container>
    </ng-container>
  </div>
</section>

<section class="pupular-posts">
  <h2>Popular Posts</h2>
  <div class="grid grid--popular">
    <ng-container *ngIf="popularPosts$ | async as posts">
      <ng-container *ngIf="posts.length; else notFound">
        <app-thing-card-sm
          [post]="post"
          *ngFor="let post of posts"
        ></app-thing-card-sm>
      </ng-container>
    </ng-container>
  </div>
</section>

<section class="your-favorite">
  <h2>Liked Posts</h2>
  <div class="grid grid--favorite">
    <ng-container *ngIf="likedPosts$ | async as posts; else notFound">
      <app-thing-card-sm
        [post]="post"
        *ngFor="let post of posts"
      ></app-thing-card-sm>
    </ng-container>
  </div>
</section>

<ng-template #notFound>
  <p class="not_found">No Items</p>
</ng-template>
