<h1>公開設定</h1>
<mat-radio-group class="settings">
  <mat-card>
    <mat-radio-button value="1" [checked]="true"
      >保存または公開</mat-radio-button
    >
    <p>投稿は公開、限定公開、非公開のいずれかにします。</p>
    <mat-radio-group>
      <div *ngIf="!schedule.checked" class="actions">
        <mat-radio-button value="1_1" [checked]="true">非公開</mat-radio-button>
        <p>投稿は公開されません。他の人が投稿を見ることはありません。</p>
        <mat-radio-button value="1_2">限定公開</mat-radio-button>
        <p>
          動画のリンクを知っているユーザがのみ投稿を閲覧することができます。
        </p>
        <mat-radio-button value="1_3">公開</mat-radio-button>
        <p>すべての人が投稿を閲覧することができます。</p>
      </div>
    </mat-radio-group>
  </mat-card>
  <mat-card>
    <mat-radio-button #schedule value="2">スケジュール設定</mat-radio-button>
    <p>動画を公開する日付を選択します</p>
    <mat-form-field appearance="outline">
      <input
        matInput
        [min]="startDate"
        [value]="startDate"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select>
        <mat-option *ngFor="let time of times" [value]="time">
          {{ time }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <div class="guidline">
    <h2>公開する前に、以下の点をご確認ください。</h2>
    <p>
      サイトポリシーに従い、危害、搾取、いじめ、暴力、性的な描写が含まれていませんか？<BR />
      これらの内容が発覚した場合はアカウントがBANされる可能性があります。
    </p>
  </div>
</mat-radio-group>
