<p>詳細</p>
<form [formGroup]="form" class="details">
  <mat-form-field appearance="outline">
    <mat-label>タイトル</mat-label>
    <input matInput #input autocomplete="off" formControlName="title" />
    <mat-hint align="end">{{ input.value.length }}/100</mat-hint>
    <mat-error *ngIf="titleControl.hasError('maxlength')"
      >{{ input.value.length }}は長過ぎます</mat-error
    >
    <mat-error *ngIf="titleControl.hasError('required')"
      >タイトルは必須入力です</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>説明</mat-label>
    <textarea
      matInput
      formControlName="description"
      #textarea
      matTextareaAutosize
    ></textarea>
    <mat-hint align="end">{{ textarea.value.length }}/5000</mat-hint>
    <mat-error *ngIf="descriptionControl.hasError('maxlength')"
      >{{ textarea.value.length }}は長過ぎます</mat-error
    >
  </mat-form-field>
  <div *ngIf="categoriesForm" class="categories" [formGroup]="categoriesForm">
    <p>CATEGORIES</p>
    <mat-checkbox
      *ngFor="let category of categoryService.getCategoriesLatest()"
      [formControlName]="category.value"
      class="categories__check"
      >{{ category.name }}
    </mat-checkbox>
  </div>
  <mat-form-field>
    <mat-label>タグ</mat-label>
    <mat-chip-list #chipList aria-label="tag selection">
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New tag..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
        autocomplete="off"
        formControlName="tags"
      />
    </mat-chip-list>
  </mat-form-field>
</form>
