<mat-toolbar class="header-nav">
  <span class="header-nav__logo">LOGO</span>
  <mat-form-field class="header-nav__input" appearance="outline">
    <input type="search" matInput placeholder="Seach Lure Advance" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="actions">
    <button mat-fab class="header-nav__create">
      <mat-icon>add</mat-icon>
    </button>
    <button class="header-nav__login" mat-raised-button color="primary">
      ログイン
    </button>
  </div>
</mat-toolbar>
