<div class="container" *ngIf="user$ | async as user">
  <mat-card class="profile">
    <div class="profile__header">
      <div
        class="profile__avatar"
        [style.background-image]="'url(' + user.avatarURL + ')'"
      ></div>
      <div class="profile__action">
        <p class="profile__name">{{ user.name }}</p>
        <button *ngIf="isMypage" (click)="openEditor()" mat-icon-button>
          <mat-icon>settings</mat-icon>
          <span>Edit Profile</span>
        </button>
      </div>
    </div>
    <p class="profile__about">
      {{ user.description }}
    </p>
    <div class="profile__sns">
      <button *ngIf="user.weblink as url" mat-icon-button>
        <mat-icon>insert_link </mat-icon>
        <a href="{{ url }}" target="_blank"> {{ user.weblink | url }}</a>
      </button>
    </div>
  </mat-card>

  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
