:host {
  display: block;
  margin: 24px 120px;
}

.grid {
  max-width: 1600px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}
.loading {
  margin: 40px auto;
}
