.post {
  display: grid;
  grid-template-columns: 240px 240px;
  padding: 0;
  max-width: 480px;
  height: 180px;
  &:hover {
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  &__thumbnail {
    background: center/cover;
  }
  &__body {
    box-sizing: border-box;
    padding: 8px;
  }
  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: rgba(black, 0.6);
  }
  &__sub-body {
    display: flex;
    font-size: 13px;
    color: rgba(black, 0.6);
    margin-bottom: 8px;
    align-items: center;
    p + p {
      margin: 0 8px;
    }
  }
  &__likeCount {
    margin-right: 8px;
    span {
      font-size: 10px;
    }
  }
  &__description {
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
