.post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  :hover {
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  &__thumbnail {
    flex-shrink: 0;
    background: center/cover;
    height: 180px;
  }
  &__body {
    height: 180px;
    box-sizing: border-box;
    padding: 8px;
  }
  &__title {
    font-size: 14px;
    font-weight: 500;
  }
  &__sub-body {
    display: flex;
    font-size: 13px;
    color: rgba(black, 0.6);
    margin-bottom: 8px;
    align-items: center;
    p + p {
      margin: 0 8px;
    }
  }
  &__likeCount {
    margin-right: 8px;
  }
  &__description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}
