<mat-card routerLink="/{{ post.id }}" class="post">
  <div class="post__thumbnail">
    <img [src]="post.fileUrls[0]" alt="" />
  </div>
  <mat-card-content class="post__body">
    <p class="post__title">{{ post.title }}</p>
    <div class="post__sub-body">
      <p class="post__likeCount">
        {{ post.likeCount }}
        <span>いいね</span>
      </p>
      <p class="post__updateAt">
        {{ post.updateAt.toDate() | date: 'yyyy年MM月dd日' }}
      </p>
    </div>
    <p class="post__description">
      {{ post.description }}
    </p>
  </mat-card-content>
</mat-card>
